body {
    width: 800px;
    margin: 0 auto;
}

/* Styling and positioning for all visible content and main div holder */
.flex-container-col {
    display: flex;
    flex-direction: column;
    height: 800px;
}

.header, .main, .footer {
    height: 50px;
    flex: 1;
    padding: 5px;
    text-align: center;
}

/* Now Let's Create Inner Flex Boxes for the actual content inside of the main section, first by setting the div to flexboxes */
.flex-container-col .main {
    /* Will give it proportional size compared to the other flex boxes */
    flex: 3 1 0%;

    /* Properties for what's inside this div */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Just For Visualizations */
    border: 2px solid yellow;
}

.bookContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.main .bookContainer .books {
    width: 225px;
    height: 400px;
    background-color: blue;
 }
 
 /* DIVING DEEPER INTO THE BOOKS CONTAINER CONTENTS, THE MEAT OF THE WEBSITE*/
 .books {
    padding: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
 }

.bookInfo, .viewBookButton {
    flex: 1;
}

.bookInfo {
    height: 6px
}

 .books img {
    width: 100%;
    height: 75%;
 }

 .books .viewBookButton {
     justify-content: flex-end;
 }


/* PROPERTIES FOR FOOTER */
.flex-container-col .footer {
    flex: 0.5 1 0%;
}

