html {
    background-image: url("../images/myBackground.png");
    background-size: 25px 25px;
	background-repeat: repeat;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: rgb(46, 45, 45);
    color: goldenrod;

    width: 1200px;
    height: 800px;
    margin: 10 auto;
}

/* Styling and positioning for all visible content and main div holder */
.flex-container-col {
    display: flex;
    flex-direction: column;
    height: 800px;
}

.header, .main, .footer {
    height: 50px;
    flex: 1;
    padding: 5px;
    text-align: center;
}

.header {
    border-bottom: goldenrod solid 2px;
}

/* Now Let's Create Inner Flex Boxes for the actual content inside of the main section, first by setting the div to flexboxes */
.flex-container-col .main {
    /* Will give it proportional size compared to the other flex boxes */
    flex: 3 1 0%;

    /* Properties for what's inside this div */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Just For Visualizations */
    /* border: 2px solid yellow; */
}

.bookContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

.main .bookContainer .books {
    width: 250px;
    height: 425px;
    background-color: rgb(133, 98, 11);
 }
 
 /* DIVING DEEPER INTO THE BOOKS CONTAINER CONTENTS, THE MEAT OF THE WEBSITE*/
 .books {
    padding: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
 }

.bookInfo, .viewBookButton {
    flex: 1;
}

.bookInfo {
    height: 6px
}

 .books img {
    width: 100%;
    height: 75%;
 }

 .books .viewBookButton {
     justify-content: flex-end;
 }


/* PROPERTIES FOR FOOTER */
.flex-container-col .footer {
    flex: 0.25 1 0%;

    border-top: 2px solid goldenrod;

    /* Styling for debugging */
    /* border: red 2px solid; */

    /* Styling For Contents WITHIN or SUBSET of FOOTER */
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer .icon {
    height: 100%;
    border-radius: 50%;
}

